.titulo {
	font-size: 28px;
	font-family: 'Quicksand', sans-serif;
	padding-top: 0;
	color: black;
	font-weight: bold;
}

.fundo {
	filter: drop-shadow(1px 1px 3px #ffffff);
}

input {
	border-radius: 5px;
	border: 1px solid #000;
}